<div class="container" style="width:100%;background: white;padding: 50px">

    <div class="card-body">

        <div class="form-body">
            <div>
                <h3 class="card-title m-t-15">Thông tin nhân viên</h3>
                <hr>

                <div class="form-group has-danger">
                    <!--<form id="form1" runat="server">-->
                    <h4 style="text-align: center">Ảnh đại diện</h4>
                    {{#if user.avatar}}
                        <img style="margin: auto;width: 130px;height: 130px;border-radius: 130px;display:block "
                             id="avatarnv" src="{{user.avatar}}"/>
                    {{else}}
                        <div style="
                                background:{{getBGColor fullname}} ;
                                width: 130px;
                                height: 130px;
                                margin: auto;
                                border-radius: 130px;
                                color: #fff;
                                padding:35px 0;
                                font-size: 40px;
                                text-align: center">{{getSortName user.fullname}}</div>
                    {{/if}}


                </div>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Tên nhân viên</label>
                            <input name="fullname" type="text" id="fullnamenv" value="{{user.fullname}}"
                                   class="form-control form-control-danger" placeholder="Tên nhân viên">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Chức vụ</label>
                            <select id="chucvunv" name="chucvunv" class="form-control custom-select"
                                    title="Chức vụ">
                                    <option>{{user.group.groupname}}</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" id="emailnv" value="{{user.email}}"
                                   class="form-control form-control-danger" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Ngày sinh</label>
                            <input name="ngaysinhnv" type="date" id="ngaysinhnv" value="{{user.dateofbirth}}"
                                   class="form-control form-control-danger" placeholder="Ngày sinh">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tên đăng nhập</label>
                            <input name="username" id="username" type="text" value="{{user.username}}"
                                   class="form-control"
                                   placeholder="Tên đăng nhập">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;/span&ndash;&gt;-->
                <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                <!--<label class="control-label">Số điện thoại</label>-->
                <!--<input name="salary" id="salary" type="number" class="form-control"-->
                <!--placeholder="Nhập số điện thoại">-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;/span&ndash;&gt;-->
                <!--</div>-->
            </div>
            <h3>Lộ trình di chuyển:</h3>
            <div>
                <label>Từ ngày: </label>
                <input style="margin: 10px;text-align: center" name="tungay" type="date" id="tungay"
                       placeholder="Chọn ngày">
                <!--<label>Đến ngày: </label>-->
                <!--<input style="margin: 10px" name="denngay" type="date" id="denngay"-->
                <!--placeholder="Từ ngày">-->
                <button style="margin-left: 20px;height: 30px; text-align: center" id="btnXemLoTrinh"
                        name="btnXemLoTrinh" type="submit"
                        class="btn-success">Xem
                </button>

            </div>
            <div id="map"></div>

        </div>
        <div style="display: table;margin-left: auto;margin-right: auto;margin-top: 30px">
            <button type="button" onclick="cancelClick()" class="btn btn-inverse">Quay lại</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyVm6Ku29H8jLCuwK1xDypxLu3FgQb4Qs&callback=initMap">
</script>
<script>
    var latitude = 21.00993
    var longitude = 105.80727;
    var flightPlanCoordinates = []
    var today = moment().format('YYYY-MM-DD');
    document.getElementById("tungay").value = today;

    $('#btnXemLoTrinh').click(function(event, err){
        let date = $('#tungay').val();
        $.ajax(`/api/user/historylocation?idUser={{user._id}}&date=${date}`, {
            type: "get",
            success: function (data) {
                if (data.status) {
                    flightPlanCoordinates = []
                    for(let i =0 ;i<data.data.length;i++){
                        //21.00975,105.83116,
                        flightPlanCoordinates.push(
                                {
                                    lat: data.data[i].longtitude, lng: data.data[i].latitude
                                }
                        )

                    }
                    initMap()
                } else {
                    alert(`Ngày ${moment(date).format('DD/MM/YYYY')}, {{user.fullname}} không có lộ trình nào! `)

                }
            },
            error: function (err) {
                alert('Lỗi! Không có kết nối, vui lòng thử lại sau.' + err)
            }
        });
    })

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: new google.maps.LatLng(latitude, longitude),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        if(flightPlanCoordinates.length>2) {
            var locationStart = {lat: flightPlanCoordinates[0].lat, lng: flightPlanCoordinates[0].lng};
            var markerStart = new google.maps.Marker({
                position: locationStart,
                icon:'https://maps.gstatic.com/mapfiles/ms2/micons/green-dot.png',
                map: map
            });
            var locationEnd = {
                lat: flightPlanCoordinates[flightPlanCoordinates.length - 1].lat,
                lng: flightPlanCoordinates[flightPlanCoordinates.length - 1].lng
            };
            var markerEnd = new google.maps.Marker({
                position: locationEnd,
                icon:'https://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png',
                map: map
            });

        }else {
            var marker = new google.maps.Marker({
                position: {lat:latitude,lng:longitude},
                map: map
            });

        }
        //vẽ đường đi
        var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 3
        });

        flightPath.setMap(map);

    }
</script>
<!--<script src="js/detailEmployee.js"></script>-->

