<div class="row" style="background: white;padding: 50px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-title">
                <h4>Danh sách nhân viên </h4>
                <button class="btn btn-success" id="btnAddEmploye" style="float: right">Thêm</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Avatar</th>
                            <th>Tên</th>
                            <th>Chức vụ</th>
                            <th>Trạng thái</th>
                            <th>Sửa</th>
                            <th>Xóa</th>

                        </tr>
                        </thead>
                        <tbody>
                        <!--vòng lặp để hiển thị danh sách nhân viên -->
                        {{#each users}}
                            <tr>
                                <td><span>{{@index}}</span></td>
                                <td>

                                            {{#if avatar}}
                                                <img style="width: 40px;height: 40px;border-radius: 30px" src={{avatar}}>
                                            {{else}}
                                                <div class="text-14" style="
                                                        background:{{getBGColor fullname}} ;
                                                        width: 40px;
                                                        height: 40px;
                                                        border-radius: 50%;
                                                        color: #fff;
                                                        padding: 10px;
                                                        text-align: center">{{getSortName fullname}}</div>
                                            {{/if}}

                                </td>
                                <td>{{fullname}}</td>
                                <td><span style="text-decoration: underline">{{group.groupname}}</span></td>
                                <td><span class="text-14 badge badge-success">{{username}}</span>
                                </td>
                                <td>
                                    <a href="edit?id={{_id}}">
                                        <img height="16" width="16" src="images/edit.png">
                                    </a>
                                </td>
                                <td><a><img
                                        height="16" width="16" src="images/delete.png"></a></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    document.title = "Danh sách nhân viên - ShipperManager"
    $("#btaddemploye").click(function (e) {
        window.location.href = '/addEmployee'
    })
</script>